body {
    text-align: center;
    
    text-align:center!important;
}
.main{
    font-family: 'Lobster', cursive;
}
canvas{
   /* margin-top:-50px;*/
}
.game_over{
    
    
}
.game_over h1{
    
}


